.m_pageTitle {
}

.m_underline {
    text-decoration: underline;
}

.m_projectImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
    object-fit: fill ;
    vertical-align: middle;
    /*margin-bottom: 15px;*/
}

.m_headerImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 128px;
    width: 50%;
}

.m_headerHR {
    max-width: 500px;
    padding-bottom: 25px;
}